/* SECTION HEADER/NAV*/
.logo{
    display:block;
    position: fixed;
    max-width:20%;
    top:-2%;
    margin-left: -5%;
    z-index: 2
    /*information logo*/
}
nav{
    position:fixed;
    background: #BBCDD6;
    width: 100%;  
    padding-bottom: 1%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    
} /* fond header */

nav li{
    display: inline-block;
    margin-right: 2%; /* espacement texte menu */
    font-family: Quicksand;
    float: right;
    

} /* menu en ligne */
nav li a{
    display: inline-block;
    padding: 5px 7px;
    color: #5C6668;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    
} /* menu */ 

nav h1{
    font-family: Fredoka one;
    font-size: 300%;
    font-weight: bold;
    color: #5C6668;
    margin-top: 3%;
} /* titre Cerebrum */
#title{
    text-align: center;
    margin-top: -2%;
} /* alignement titres header */
nav h2{
    font-family: Quicksand;
    font-size: 100%;
}

a:hover{

    background-color: #9E7174;
    color:white;
}
 /*titre 2 header */

h2{
   font-family:Quicksand;
   font-size:30px;
   margin-top: 0%;
   text-align: center;
}
p{
    margin:3%;
    text-align:justify;
    line-height: 1.5em;
}
section h2{
    margin-top:40px;
    margin-bottom:20px;
    text-align: center;
}

/*SECTION GREG*/
.Musique{
	background-color: #9E7174;
	font-family: Quicksand;
}
.conteneurmusique{
	display: flex;
}

/*SECTION SEB*/
.drogue { 
	margin-top: 30%;
    padding:1%;
    background-color: #B9CDD6;
    font-family: Quicksand;
    background-image: url(drogue.jpg) opacity:0.5;
    
} /*paragraphe drogue*/


.cerveaueffet1{
    max-width: 20%;
    float:right;
    padding-right:3%;
} /* image drogue */

.drogue p {
    width: 75%;
}

.drogue ol {
	width: 75%;
	line-height:1.5em;
	margin-left:3%;
	margin-top:-2%;
	margin-bottom: -2%;
}

/*SECTION LEA*/
.effet{
    display: block;
    position:absolute;
    background-color:#DB9B98;
    top:280%;
    height:85%;
    width:100%;
}
.cerveaueffet{
    max-width: 20%;
}
.effet h1{

}
.effet p {
    font-family: Quicksand;
    display: block;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 60%;
}

