nav{
    position:fixed;
    background: #BBCDD6;
    width: 100%;
    	 
}

nav li{
    display: inline-block;
    margin-right: 20px;
    font-family: Quicksand;
}
nav li a{
    display: block;
    position: fixed;
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.logo{
    max-width:7%;
}
nav h1{
    text-align: center;
    font-family: Fredoka One;
    font-size: 60px;
    font-weight: bold;
    color: #5C6668;
    letter-spacing: 5px;
}
nav>h2{
    margin-right: 600px;
    float:right;
    font-family: Quicksand;
    font-size: 20px;
    margin-top:-30px;
}
h1{
    display :block;
   font-family:Quicksand;
   font-size:30px;
   margin-top: 0%;
   text-align: center;
}
p{
    margin:3%;
    text-align:justify;
}
section h1{
    text-align: center;
}
.drogue { 
    padding:5%;
    background-color: #B9CDD6;
    font-family: Quicksand;

}
.img_drogue{
    max-width: 100%;
}
.effet{
    display:block;
    padding:5%;
    background-color:#DB9B98;
}
.effet p{
    padding:5%;
    width:70%;
    font-family: Quicksand;

}