nav{
    background: #BBCDD6;
    width: 100%;	 
}

nav li{
    display: inline-block;
    margin-right: 20px;
    font-family: Quicksand;

}
nav li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.logo{
    max-width:100px;
}
nav h1{
    text-align: center;
    font-family: Fredoka One;
    font-size: 40px;
    font-weight: bold;
    color: #5C6668;
    letter-spacing: 5px;
}
nav>h2{
    margin-right: 600px;
    float:right;
    font-family: Quicksand;
    font-size: 20px;
    margin-top:-30px;
}
h1{
   font-family:Quicksand;
   font-size:30px; 
   text-align: center;
}
p{
    margin:3%;
    text-align:justify;
}
section h1{
    margin-top:40px;
    margin-bottom:20px;
    text-align: center;
}
.drogue { 
    padding:5%;
    background-color: #B9CDD6;
    font-family: Quicksand;

}
.img_drogue{
    max-width: 100%;
}
.effet{
    display:block;
    background-color:#DB9B98;
}
.effet > p{
    padding:20%;
    width:70%
}